@tailwind base;
@tailwind components;
@tailwind utilities;

.css-art2ul-ValueContainer2{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@font-face {
    font-family: "mona-sans";
    src: url("../public/font/Mona-Sans.ttf");
}

/* *{
    font-family: mona-sans;
    letter-spacing: 0.025em;
} */